@mixin opacity-transition() {
  & a {
    opacity: .75;

    &:hover {
      opacity: 1;
      transition: opacity .2s ease-in;
    }
  }
}

@mixin hide-scrollbar() {
  -ms-overflow-style: none; 
  scrollbar-width: none;

  &::-webkit-scrollbar {
      display: none;
  }
}

@mixin carousel_button() {
  content: '';
  // width: 30px;
  // height: 30px;
  font-size: 5rem;
  // background-color: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  cursor: pointer;
  color: $color-accent;
  transition: opacity .2s ease-in;
  opacity: .7;

  &:hover {
    opacity: 1;
    transition: opacity .2s ease-in;
  }
}