@mixin opacity-transition() {
  & a {
    opacity: .75;

    &:hover {
      opacity: 1;
      transition: opacity .2s ease-in;
    }
  }
}

@mixin hide-scrollbar() {
  -ms-overflow-style: none; 
  scrollbar-width: none;

  &::-webkit-scrollbar {
      display: none;
  }
}