*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: $color-grey2;
  color: $color-dark;
}

a,
a::before,
a::after {
  color: $color-light;
  text-decoration: none;
}