*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: $color-dark;
}

a {
  color: $color-dark;
  text-decoration: none;
  opacity: 1;
  transition: opacity .2s ease-in;

  p {
    &:hover {
      opacity: .8;
    }
  }
}

.button {
  &--login {
    @include button-generic(transparent, rgba(0, 0, 0, .05));
  }

  &--signup {
    width: 15rem;
    @include button-gradient;
  }
}