.home {
  background-color: $color-grey2;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 120rem minmax(0, 1fr);

  &__contents {
    grid-column: 2 / span 1;
    background-color: $color-light;
    height: 100%;
    display: flex;

    & * {
      // border: 1px solid black;
    }
  }

  &__main {
    min-width: 70%;
    padding: 3rem;
  }

  &__sidemenu {
    width: 100%;
    padding: 3rem;
    position: relative;

    &::before {
      content: "";
      height: 100%;
      display: block;
      border-left: 1px solid $color-grey2;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}