.artists__container {
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 120rem minmax(0, 1fr);
}

.artists__main {
    grid-column: 2 / span 1;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.artists__header {
    display: flex;
    padding-top: 5rem;
    padding-left: 5rem;
}

.artists__body {
    display: flex;
    justify-content: space-between;
    position: relative;
    li {
        list-style: none;
        padding: 1rem;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        cursor:pointer;
    }

}

.artist__profileimage {
    // position: relative;
    right: 50vw;
    img {
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        margin: 5rem;
        cursor: pointer;
        object-fit: contain;
        background-color:#000;
    }
}

.artists-container__right {
    position: absolute;
    left: 25rem;
    top: 4vh;
    padding: 2rem;
}

.artist-right__item {
    padding: 2rem;
}
