.navbar {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  background-color: $color-dark;
  font-size: 1.4rem;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 120rem minmax(0, 1fr);

  a,
  a::before,
  a::after {
    color: $color-light;
  }

  &__contents {
    grid-column: 2 / span 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  a {
    height: 100%;
  }

  &__logo {
    height: 100%;
    display: flex;
    background: $gradient-violet;
    padding: 0 1.5rem;

    & > * {
      padding: 0 1rem;
    }

    &-image {
      background-image: url("../../images/busker_logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      margin: .3rem 0;
      width: 3.5rem;      
    }

    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.1rem;
    }
  }

  &__links {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
    @include opacity-transition;

    & .active {
      opacity: 1;
    }
    
  }

  &__logout {
    @include button-generic(rgba(255, 255, 255, .2), $color-accent);
    font-size: 1.5rem;;
    max-width: 8rem;
    font-weight: 400;
  }

  &__search {
    display: flex;
    height: 2.8rem;
    margin-right: 3.5rem;

    button {
      border: none;
      border-radius: 0 3px 3px 0;
      cursor: pointer;
    }

    &-button {
      background-color: $color-grey2;
      width: 3rem;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: color .2s ease-in;

      &:hover {
        color: $color-accent;
      }
    }

    input {
      border-radius: 3px 0 0 3px;
      border: 0;
      width: 25rem;
      position: relative;
      margin: 0;
      height: 100%;


      &:focus {
        outline: 1px solid $color-accent;
        transition: outline .2s ease-in-out;
      }
    }
  }

  &__menu {
    // width: 12rem;
    height: 100%;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    color: $color-grey2;
    font-size: 1.2rem;

    img {
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      margin-right: 1rem;
    }

    & > * {
      flex-grow: 1;
    }
  }
}