.search__div {
    height: 25vh;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    padding: 5rem;

    p {
        display: flex;
        justify-content: center;
        font-weight: 800;
        color: $color-dark;
    }
    .search__container {
        display: flex;
        justify-content: center;
    }
    input {
        height: 4rem;
        width: 60rem;
        background-color: lightgray;
        margin-top: 3rem;
        border: none;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.searchbar__container:hover .dropdown-content {
    display: block;
  }

// Search container styles

.auto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
  }


  input {
    padding: 10px;
    height: 20px;
    width: 500px;
    border: 1px solid purple;
    margin: 10px;
    font-size: 18px;
    text-transform: capitalize;
  }

  .pos-rel {
    position: relative;
  }

  .autoContainer {
    position: absolute;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: goldenrod;
    background-color: whitesmoke;
    right: 1rem;
    top: 7rem;
    width: 60rem;
    z-index: 1;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    padding: 5px;
  }

  .option,
  span {
    font-size: 28px;
    text-transform: capitalize;
  }

  .flex-container {
    display: flex;
  }

  .flex-column {
    flex-direction: column;
  }

  .option {
    cursor: pointer;
  }
