.section {
  // height: 30rem;
  height: auto;
  
  &:not(:first-child) {
    margin: 8rem 0;
  }

  &::after {
    content: "";
    width: 100%;
    display: block;
    border-bottom: 1px solid $color-grey2;
  }
  
  & > * {
    padding: 1rem;
  }

  &__subtitle {
    color: $color-grey1;
    font-size: 1.2rem;
  }

  &__contents {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    @include hide-scrollbar;
  }
}