.section {
  // height: 30rem;
  height: auto;
  
  &:not(:first-child) {
    margin: 5rem 0;
  }

  &::after {
    content: "";
    width: 100%;
    display: block;
    border-bottom: 1px solid $color-grey2;
  }
  
  & > * {
    padding: 1rem;
  }

  &__contents {
    position: relative;
    margin-bottom: 1rem;

    &--left-scroll {
      @include carousel_button();
      left: -1rem;
      z-index: 1;
    }

    &--right-scroll {
      @include carousel_button();
      right: -1rem;
      z-index: 1;
    }
  }

  &__carousel {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    @include hide-scrollbar;

    :not(:first-child):not(.track__title):not(.track__album-title) {
      padding-left: 2rem;
    }

    & .track {
      height: auto;
    }

  }

  &__subtitle {
    color: $color-grey1;
    font-size: 1.2rem;
  }
}