.track {
  margin: 1rem;
  height: auto;
  height: 20rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;

  &__image {
    width: 80%;
    height: 80%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__album-title {
    font-size: 1.2rem;
    color: $color-grey1;
  }
}