.album__container {
  * {
    // outline: gray dotted 1px;
  }
   display: flex;
   justify-content: space-between;
   padding: 3rem 0;
   height: 100%;
   width: 40vw;
   min-width: 500px;

   .left-container {
      padding-left: 1rem;
   }

   .right-container {
      width: 70rem;
      right: 12rem;
      // padding-right: 1rem;
      padding: 5px 15px;

   }

  .album__image{
    border: 1px solid $color-grey2;
    margin: auto;
    width: 17.5rem;
    height: 17.5rem;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

  .button-album-info{
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  .icon-background {
    color: $color-accent;

  }
  i:hover{
      color: $color-accent-light;
  }
  span{
    top: 5px;
  }
  .play {
    color: white;
    left: 1px;
  }
  .pause {
    color: white;
  }
  .artist {
    font-size: 1.2rem;
    color: $color-grey1;
    font: $font-main
  }
  .title {
    font-size: 1.7rem;
    font: $font-main
  }
  div {
    bottom: 10px;
  }
}

table, th, td {
  border: 1px solid $color-grey2;
}

table {
  padding-top: 20px;
  border-collapse: collapse;
  border-radius: 13px;
  border-spacing: 0;
  color:black;
  table-layout: fixed;
  width: 100%;

  tr {
    width: 100%;
    border-bottom: 1px solid #282828;
    // $color-grey1;
    font: $font-main;
    padding:10px;
    :hover {
      background:$color-grey2;
    }
    cursor: pointer;
  }
  td {
    padding: 5px;
    line-height: 35px;
    font-size: 1.5rem;

    * {
      vertical-align : middle;
    }
    img {
      object-fit: cover;
      width: 25px;
      height: 25px;
      left:35px;
    }


  }
}

i {
  cursor: pointer;
}
