.header__logo {
    display: flex;
    height: max-content;
    cursor: pointer;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-size: cover;
    width: 100%;
    position: absolute;
    z-index: 3;

  & + .awssld {
    .awssld--active {
      z-index: -1;
    }
  }
}

#header {
  &__image1,
  &__image2,
  &__image3 {
    img {
      object-fit: cover;
    }
  
    &::before {
      content: '';
      background:linear-gradient(125deg, rgba(0, 0, 0, .4) 
                                 20%, rgba(0, 0, 0, .6) 90%);
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  &__image1 {
    img {
      object-position: top;
    }
  }

  &__image2 {
    img {
      object-position: 0 30%;
    }
  }

  &__image3 {
    img {
      object-position: 0 85%;
    }
  }
}

.header-btn__container {
    display: flex;

    .header-btn__wrapper {
        padding: .5rem;
    }
}

.header__img1, .header__img2 {
    height: 8rem;
    width: 6rem;
    align-items: center;
}

.header__img2 {
    display: flex;
    height: 5rem;
    width: 14rem;
    position: relative;
    top: 2rem;
}

.awssld {
  height: 55rem;
}