.login__btn {
    display: block;
    padding: .2rem 1.5rem;
    height: 3.5rem;
    border-color: #ccc;
    color: #fff;
    background-color: transparent;
    border-radius: .4rem;
}

.homelogin__btn {
  background-color: rgba(255, 255, 255, .2);
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  color: $color-grey2;
  font-size: 1.5rem;
  max-width: 8rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: background-color .2s ease-in;

  &:hover {
    background-color: $color-accent;
  }
}
