@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Rock+Salt");

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: $color-dark;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
}

.placeholder {
  background: pink;
  height: 100%;
  width: 30rem;
}

.audio-motion {
  // position: absolute;
  right: 5rem;
  height: 100%;
  display: flex;
  align-items: center;

  @include respond-medium {
    display: none;
  }

  @include respond-small {
    font-size: 1.3rem;
  }
}

.controls {
    min-width: 35%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-medium {
      width: 70%;
    }

    i {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  i:hover{
    color: $color-accent-light;
  }

  .bar {
    user-select: none;
    display: flex;
    align-items: center;
    min-width: 35rem;

    .bar__time {
      color: white;
      font-size: 16px;

      @include respond-small {
        color: white;
        font-size: 1.2rem;
      }
    }

    .bar__progress {
      flex: 1;
      border-radius: 5px;
      margin: 0 20px;
      height: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;

      .bar__progress__knob {
        position: relative;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: $color-accent-dark;

        @include respond-small {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }
  }

  // @media screen and (max-width: 800px) {
  //   flex-direction: column;

  //   .controls {
  //     width: 100%;
  //     margin-top: 20px;
  //   }

  //   .bar {
  //     width: 90%;
  //   }
  // }

  // @media screen and (max-width: 500px) {
  //   .song {
  //     .song__title {
  //       font-size: 2.5em;
  //     }

  //     .song__artist {
  //       font-size: 0.8em;
  //     }
  //   }
  // }
