.signup__btn {
    display: block;
    padding: .2rem 1.5rem;
    height: 3.5rem;
    width: 15rem;
    border-color: white;
    color: white;
    background-color: $color-accent;
    border-radius: .4rem;
}
